<footer>
    <h4>Lorem, ipsue, dolor.</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores deleniti, ducimus esse non nisi ea pariatur! Odit saepe voluptatibus quasi ipsam eligendi minima sed? Aliquam autem sequi veritatis quibusdam voluptas.</p>
</footer>